<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head th:fragment="common-header">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Spring Boot Application</title>

        <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    </head>
</html>