<!DOCTYPE html>

<html

        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

        xmlns:th="http://www.thymeleaf.org"

        layout:decorate="layout/layout"

        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

        xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">

<head>

</head>

<body>

<div layout:fragment="content">

    <div class="container main-content">

        <div class="row">
            <p th:text="${product}">tekst</p>

        </div>

    </div>

</div>

</body>

</html>