<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>

</head>
<body>
<div layout:fragment="content">
    <div class="container main-content">
        <div class="row" align="center">
            <h3>Produkty w koszyku</h3>
            <th:block th:each="product : ${shopCart.products}">
                <p th:text="${product}"></p>
            </th:block>
            <button><a th:href="@{'/shopcart/placeorder'}">Zrealizuj zamówienie</a></button>
        </div>
    </div>
</div>
</body>
</html>